body {
    background-color: rgb(197, 238, 187);
    color: black;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

button {
    background-color: #1be2a6;
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: bold;
    width: 200px;
    height: 80px;
    font-size: 20px;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
    border:thin solid;
    color:rgb(197, 238, 187);
    padding-top: 30px; 
}

header {
    font-size: 32px;
    color: rgba(33, 126, 10, 0.651);
    padding-top: 50px;
    margin:0;
  }